@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8758fe;
	width: 100%;
	height: 100vh;
}

.todocontainer {
	background-color: #1c1a40;
	color: #eae8ed;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3%;
	width: 75%;
	height: 75%;
	overflow: hidden;
}
.tododisplayall {
	background-color: #1c1a40;
	color: #eae8ed;
	overflow-y: scroll;
}

.tododisplayall::-webkit-scrollbar {
	display: none;
}

.todoadd {
	margin-top: 20px;
}

.todoadd input {
	background-color: #1c1a40;
	border-color: #8758fe;
	border-right: none;
	color: #eae8ed;
	width: 200px;
	height: 40px;
	/* padding-left: 5%; */
}

.todoadd button {
	background-color: #8758fe;
	border: none;
	color: #eae8ed;
	width: 100px;
	height: 40px;
	padding: 0px 4px;
}

.tododisplay {
	width: 300px;
	height: 60px;
	margin: 10px 0px;
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 10px;
	background-color: #8758fe;
}

.tododisplay input {
	margin-left: 40%;
}

.tododisplay h6 {
	width: 220px;
	padding-top: 2%;
	white-space: nowrap;
	overflow-x: scroll;
}
.tododisplay h6::-webkit-scrollbar {
	display: none;
}

.todoupdate {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.todoupdatecontent {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #8758fe;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 250px;
}

.todoupdatecontent input {
	background-color: #1c1a40;
	border-color: #8758fe;
	color: #eae8ed;
	width: 200px;
	height: 40px;
}

.todoupdatecontent button {
	background-color: #1c1a40;
	border: none;
	color: #eae8ed;
	width: 100px;
	height: 40px;
	margin-top: 20px;
	padding: 0px 4px;
}
@media only screen and (max-width: 425px) {
	.todoadd input {
		border: 1px solid #8758fe;
		margin-left: 10%;
		width: 75%;
	}
	.todoadd button {
		margin: 0% 20%;
		width: 50%;
		overflow: hidden;
	}
	.tododisplayall {
		width: 75%;
	}
	.tododisplay {
		width: 100%;
	}
	.tododisplay h6 {
		width: 100px;
	}
	.todoupdatecontent {
		width: 50%;
	}
	.todoupdatecontent input {
		width: 75%;
	}
	.todoupdatecontent button {
		width: 50%;
		overflow: hidden;
	}
}
